@tailwind base;
@tailwind components;


body{
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  background-image: url(../src/imgs/cartbg.jpg);
  background-size: 100%;
}
.display-cart{
  display: flex;
  flex-direction: column;
  background-image: url(../src/imgs/bluebg.jpg);
  background-size: 100%;
  margin: 0;
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  width: 560px;
  height: 250px;
  align-items: center;
}
.city-time-data{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding-right: 336px;
  color: aliceblue;
  
}
.city{
  margin: 0;
  font-size: 28px;
  color: rgb(125, 125, 125);
  font-weight: 500;
  letter-spacing: 4px;
  /* -webkit-text-stroke: 1px blue; */

}
.time{
  margin: 0;
  color: gray;
  font-size: 16px;
}
.temp-icon-data{
  display: flex;
  align-items: center;
  font-size: 24px;
  padding-left: 70px;
  color: aliceblue;
  

}
.weather-temp{
  padding-left: 270px;
  font-size: 100px;
}


@tailwind utilities;